<font size="+5">#01. Data Tables & Basic Concepts of Programming</font>

- Book + Private Lessons [Here ‚Üó](https://sotastica.com/reservar)
- Subscribe to my [Blog ‚Üó](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn ‚Üó](www.linkedin.com/in/jsulopz) üòÑ

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

In [2]:
import pandas as pd

df = pd.read_excel('df_mortality_regions.xlsx')
df.head()

,Country name,Regional indicator,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,Finland,Western Europe,5540718.0,5520314.0,10.125000,42.799999,0,2.225083,8.926763,0,1,0.549860,25.9,53546.0,54394.0,53821.0,55663.0,31.510042
1,Denmark,Western Europe,5792203.0,5818553.0,22.409399,42.299999,0,3.953056,9.006084,0,1,0.571761,27.8,53103.0,55076.0,53805.0,55477.0,25.533773
2,Switzerland,Western Europe,8654618.0,8574832.0,88.334305,43.099998,0,5.583522,9.078127,0,0,0.660001,30.1,66703.0,66888.0,67515.0,77087.0,116.680031
3,Iceland,Western Europe,341250.0,361313.0,8.498200,37.299999,1,1.649335,9.069892,0,1,0.325369,24.1,2229.0,2247.0,2261.0,2321.0,21.445267
4,Netherlands,Western Europe,17134873.0,17332850.0,67.260498,43.200001,0,5.573827,9.059903,0,0,0.522208,27.0,149805.0,152991.0,151547.0,171175.0,114.468414

# Islands

## Number of Islands

20

## Which region had more Islands?

Regional indicator
Western Europe                        5
Latin America and Caribbean           3
Southeast Asia                        3
Sub-Saharan Africa                    3
North America and ANZ                 2
South Asia                            2
East Asia                             1
Middle East and North Africa          1
Central and Eastern Europe            0
Commonwealth of Independent States    0
Name: Island, dtype: int64

## Show all Columns for these Islands

,Country name,Regional indicator,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
3,Iceland,Western Europe,341250.0,361313.0,8.498200,37.299999,1,1.649335,9.069892,0,1,0.325369,24.10,2229.0,2247.0,2261.0,2321.0,21.445267
14,Ireland,Western Europe,4937796.0,4941444.0,45.303600,38.700001,1,3.188102,9.100494,0,0,0.430625,30.60,NaN,30621.0,30728.0,32271.0,32.320301
16,United Kingdom,Western Europe,67886004.0,66834405.0,108.449501,40.799999,1,5.009473,9.087469,0,0,0.267582,34.07,606874.0,613309.0,600532.0,696705.0,133.313141
22,Malta,Western Europe,441539.0,502653.0,49.599201,42.400002,1,2.822389,9.096670,0,0,0.402808,28.70,3556.0,3672.0,3684.0,4093.0,96.519936
38,Cyprus,Western Europe,875899.0,1198575.0,13.586000,37.299999,1,1.907791,8.967679,0,0,0.174157,29.10,6009.0,5798.0,6218.0,6636.0,60.513317

## Mean Age of across All Islands?

39.3

# Female Heads of State

## Number of Countries with Female Heads of State

22

## Which region had more Female Heads of State?

Regional indicator
Western Europe                        6
Central and Eastern Europe            5
Sub-Saharan Africa                    4
Southeast Asia                        2
South Asia                            2
North America and ANZ                 1
East Asia                             1
Commonwealth of Independent States    1
Middle East and North Africa          0
Latin America and Caribbean           0
Name: Female head of government, dtype: int64

## Show all Columns for these Countries

,Country name,Regional indicator,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,Finland,Western Europe,5540718.0,5520314.0,10.125000,42.799999,0,2.225083,8.926763,0,1,0.549860,25.9,53546.0,54394.0,53821.0,55663.0,31.510042
1,Denmark,Western Europe,5792203.0,5818553.0,22.409399,42.299999,0,3.953056,9.006084,0,1,0.571761,27.8,53103.0,55076.0,53805.0,55477.0,25.533773
3,Iceland,Western Europe,341250.0,361313.0,8.498200,37.299999,1,1.649335,9.069892,0,1,0.325369,24.1,2229.0,2247.0,2261.0,2321.0,21.445267
5,Norway,Western Europe,5421242.0,5347896.0,8.042400,39.700001,0,2.675678,8.993008,0,1,0.605656,24.8,40634.0,40716.0,40500.0,41155.0,9.997681
12,Germany,Western Europe,83783945.0,83132799.0,40.331100,46.599998,0,4.837829,9.017697,0,1,0.435435,31.1,929351.0,952295.0,936772.0,1000855.0,73.548416
67,Greece,Western Europe,10423056.0,10716322.0,46.416298,45.299999,0,2.327332,9.025694,0,1,0.124216,32.3,124069.0,119952.0,124538.0,132966.0,95.679260

## Mean Age of across All Countries?

42.33333269755045

## Show All Columns for the Country with more deaths due to Covid per 100,000 people

In [9]:
df.loc[mask,:]

Country name                                                                          Belgium
Regional indicator                                                             Western Europe
Population 2020                                                                    11589616.0
Population 2019                                                                    11484055.0
COVID-19 deaths per 100,000 population in 2020                                     168.495697
Median age                                                                          41.799999
Island                                                                                      0
Index of exposure to COVID-19  infections in other countries as of March 31          6.343308
Log of average distance to SARS countries                                            9.071179
WHO Western Pacific Region                                                                  0
Female head of government                                                                   0
Index of institutional trust                                                         0.302762
Gini coefficient of income                                                               25.6
All-cause death count, 2017                                                          109278.0
All-cause death count, 2018                                                          110341.0
All-cause death count, 2019                                                          108436.0
All-cause death count, 2020                                                          128952.0
Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average        169.893524
Name: 19, dtype: object

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [ ] Identify the **Elements of Programming** thanks to the syntax.
- [ ] Use `functions` that belongs to external `libraries`.
- [ ] Get _the machine to work for you, not against you_.
  - [ ] `shift + tab` to ask help to Python.
  - [ ] `tab` to ask Python for suggestions.
- [ ] Understand that a `dog` doesn't make `miau()`. But, rather `guau()`... the same way a `DataFrame` cannot `fly()` (i.e., `DataFrame.fly()`?).
- [ ] All roads lead to Rome; We can achieve the **the same result with different lines of code**.
  - We reproduced a scatterplot using 3 different lines of code.